# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug
*.idb
*.pdb

# Log
*.tlog

# Visual Studio
*.suo
*.user
**/.vs/
**/Debug/
**/Release/
**/x64/

# Boost
source/server/external/boost/

# NodeJS & Typescript
**/node_modules/
*.js
*.js.map

# Project
/source/client/Main/dist/
/source/client/Main/built/
/data/
/source/server/build/
/source/shared/ApiSrcGenerator/**/*.h
/source/shared/ApiSrcGenerator/**/*.cpp